body{
    background-color:hsl(191, 87%, 24%);
         width: 100%;
         opacity: 2.6;
    }
h1{
    color: rgb(31, 31, 56);
    font-size: 96px;
    text-align: left;
    font-family: roboto;
     }
 h2{
    color:rgb(31, 31, 56);
    font-size :36px;
    text-align: left
    }
 p {
    font-size: 37px;
    text-align: left;
}
.img{
    image-rendering: 750px 900px;
    size-adjust: 550px 700px;
}

.hero-wrapper{
    width: 91%;
    height: 91vh;
    margin: 0 auto;
    background-image: linear-gradient(to left, rgba(58, 53, 53, 0.6), rgba(0,0,0, 0.7)), url("images/photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.aboutme{
    color: white;
    width: 70%;
    margin: 50px auto;
    padding-top: 52px;
}

.aboutme h1 {
    color: rgb(31, 31, 56);
    font-size: 50px;
}

.aboutme p{
    font-size: 25px;
}
.dropcap{
    font-size: 50px;
    color: rgb(1, 17, 14);
}
.start {
    background-image: url('/images/photo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}